.select{
    background-color: #8a8a8f;
    height:100vh;
    width:100wh;
    form{
        padding-top: 50px;
        display: flex;
        justify-content: center;
        border: solid paleturquoise 1px;
    }
    table{
        margin-left: 100px;
        margin-right: 100px;
        .attribute{
            .box{
                border: solid #3a3a3f 1px;
            }
        }
    }
}